

.motion_1{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    z-index: 40;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

.motion_2{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--main-color);
    z-index: 30;
    bottom: 0;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}

.motion_3{
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 50px;
    z-index: 50;
    cursor: default;
    width: fit-content;
    height: fit-content;
}